.new-collection{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin-bottom: 100px;
    margin-top: 100px;
}
.new-collection h1{
    color: #171717;
    font-size: 30px;
    font-weight: 500;
}
.new-collection hr{
    width: 200px;
    height: 1px;
    background: #252525;
}
.collections{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 50px;
    gap: 30px;
}
