.productdisplay{
    display: flex;
    margin: 10px 170px;
}
.productdisplay-left{
    display: flex;
    gap: 17px;
}
.productdisplay-img-list{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.productdisplay-img-list img{
    height: 110px;
}
.productdisplay-main-img{
    width: 420px;
    height: 483px;
}
.productdisplay-right{
    display: flex;
    flex-direction: column;
    margin: 0px 70px;
}
.productdisplay-right h1{
    color: #3d3d3d;
    font-size: 27px;
    font-weight: 600;
}
.productdisplay-right-stars{
    display: flex;
    align-items: center;
    gap: 5px;
    color: #1c1c1c;
    font-size: 15px;
    margin-top: 8px;

}
.productdisplay-right-prices{
    display: flex;
    margin: 13px 0px;
    gap: 17px;
    font-size: 18px;
    font-weight: 600;
}
.productdisplay-right-price-old{
    color: #818181;
    text-decoration: line-through;
}
.productdisplay-left-price-new{
    color: #ff4141;
}
.productdisplay-right-size h1{
    margin-top: 30px;
    color: #656565;
    font-size: 17px;
    font-weight: 500;
}
.productdisplay-right-sizes{
    display: flex;
    margin-top: 7px 0px;
    gap: 20px;
}
.productdisplay-right-sizes div{
    background: #fbfbfb;
    padding: 10px 18px;
    border: 1px solid black;
    border-radius: 2px;
    cursor: pointer;
}
.productdisplay-right button{
    padding: 20px 40px;
    width: 200px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    background: #ff4141;
    margin-top: 25px;
    margin-bottom: 25px;
    border: none;
    outline: none;
    cursor: pointer;
}
.productdisplay-right-category{
    margin-top: 8px;
}
.productdisplay-right-category span{
    font-weight: 500;
}