.descriptionbox{
    margin: 100px 170px;
}
.descriptionbox-navigator{
    display: flex;
}
.description-nav-box{
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: 16px;
    font-weight: 600;
    width: 170px;
    height: 70px;
    border: 1px solid #d0d0d0;
}
.description-nav-box.fade{
    background: #fbfbfb;
    color: #555;
}
.descriptionbox-description{
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid #d0d0d0;
    padding: 40px;
    padding-bottom: 70px;
}