.relatedproducts{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 90vh;
}
.relatedproducts h1{
    color: #171717;
    font-size: 40px;
    font-weight: 500;
}
.relatedproducts hr{
    width: 200px;
    height: 5px;
    background: #252525;
}
.relatedproducts-items{
    margin-top: 30px;
    display: flex;
    gap: 30px;
}