.popular{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    height: 90vh;
    margin-top: 100px;
}
.popular h1{
    color: #171717;
    font-size: 30px;
    font-weight: 500;
}
.hr{
    width: 250px;
    height: 150px;
    border-radius: 10px;
    background: #252525;
}
.popular-item{
    margin-top: 40px;
    display: flex;
    gap: 80px;
}