.hero{
    display: flex;
    background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
    height: 100vh;
}
.hero-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding-left: 150px;
    line-height: 1;
}
.hero-left h2{
    color: #090909;
    font-size: 20px;
    font-weight: 500;
}
.hero-left p{
    color: #171717;
    font-size: 60px;
    font-weight: 600;
}
.hero-hand-icon{
    display: flex;
    align-items: center;
    gap: 20px;
}
.hero-hand-icon img{
    width: 85px;
}
.hero-latest-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;
    width: 260px;
    height: 50px;
    border-radius: 70px;
    margin-top: 17px;;
    background: #ff4141;
    color: white;
    font-size: 18px;
    font-weight: 400;
}
.hero-right{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    width: 100px;
    margin-top: 70px;
}